atomicwrites==1.4.0
attrs==21.2.0
boto3==1.20.26
botocore==1.23.26
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
colorama==0.4.4
docker==5.0.3
idna==3.3
iniconfig==1.1.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
mock==4.0.3
moto==2.3.0
cryptography==36.0.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
py4j==0.10.9.3
pycparser==2.21
pyparsing==3.0.6
pyspark==3.2.1
pytest==6.2.5
pytest-mock==3.6.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
responses==0.16.0
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
urllib3==1.26.7
websocket-client==1.2.3
Werkzeug==2.0.2
xmltodict==0.12.0
